/*
	@package: <%= appname %>
	@author: <%= authorName %>
	@www: <%= authorURL %>
	@copyright: <%= license %> <%= currentDate %> <%= authorName %>
*/

/* Imports */
@require "helpers/index" // Import all dependencies: variables, mixin/placeholder helpers, and browser support configuration

@require "components/animations/fading_entrances/*" // import basic fade animations; pick and choose as necessary, or import all animations by importing animation/index

@require "components/*" // import all components; pick and choose as needed
@require "layout/*" // import all layout styles
